{% extends main_template.html %}

{% block navar-brand %}
    <span class="navbar-brand">Yagra, &nbsp;&nbsp;{user}</span>
{% endblock %}

{% block content %}       
    <div id="alert" class="alert alert-info alert-size" role="alert">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <span id="upload-info">{info}</span>
    </div>

    <div class="upload-form">
        <form id="upload-file" action="/yagra/app.py/upload" method="post" enctype="multipart/form-data">
            <input type="file" class="btn btn-sm btn-primary pull-left" name="filename">
            <button type="button" class="btn btn-md btn-success pull-right" onclick="uploadAvatar()">upload</button>
        </form>
    </div>

    <div class="photo_circle" >
        <p class="photo_wrap">
        <img id="image" src="{img}" alt="Not found" class="photo"></img>
        </p>
    </div>
{% endblock %}
