{% extends form_template.html %}

{% block header %}
    <link href="{request_root}/static/css/register.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <form id="register_form" class="form-register"  action="{request_root}/app.py/register" method="post">
        <h2 class="form-register-heading">Yagra</h2>
        <div class="form-group">
            <input type="email" name='email' class="form-control" placeholder="email" required autofocus>
        </div>
        <div class="form-group">
            <input type="text" name='name' class="form-control" placeholder="username" required>
        </div>
        <div class="form-group">
            <input type="password" name="passwd" class="form-control" placeholder="password" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
        <div class="href-signin">
            <a href="{request_root}/app.py/signin" >Sign in</a>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="{request_root}/static/js/register_form_validate.js"></script>
{% endblock %}
